
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500');


@keyframes astronaut-movement {
    0% {left:1800px; bottom: 0px;}
    25% {left:1400px;bottom:0px;transform:rotate(40deg)}
    50% {left:1800px; bottom: 0px;}
    75% {left:1400px;bottom:0px;transform:rotate(90deg)}
    100% {left:1800px; bottom: 0px;transform:rotate(360deg)}
}



html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.background{
    background: url('https://cdn.mos.cms.futurecdn.net/xKkFJqojdSd8vJuvCLs5mU-1920-80.jpg');
    background-size: cover;
    background-position: left top;
    height: 100%;
    overflow: hidden;
    
}

.custom-navbar{
    padding-top: 15px;
}



.navbar-links{
    float: right;
    margin-right: 15px;
    background-color: #21214dc2;
    height: 80px;
    width: 400px;
    border-radius: 20px 0px 0px 20px;
    margin-right: 0;
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    padding-left: 30px;
}

li {
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

li:hover {
    background-color: #9e66ad;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;    
}


li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 20px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}



.gohomebtn{
    background-color: #472451;
    position: relative;
    z-index: 200;
    margin: 40px auto;
    width: 140px;
    padding: 15px 15px;
    border: 1px solid #0d0d0d;
    border-radius: 100px;
    font-weight: 400;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    letter-spacing : 2px;
    font-size: 13px;
    cursor: pointer;    
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.gohomebtn:hover{
    background-color: #472451;
    color: #fff;
    transform: scale(1.5);
    box-shadow: 0px 10px 10px #9e66ad;
}

.central-body {
    text-align: center;
    align-items: center;
    padding: 1%;
    margin-left: 500px;
    margin-right: 500px;
    background-color: #21214d;
    border: solid 5px gray;
    margin-top: 10%;
}

.objects img{
    z-index: 90;
    pointer-events: none;
}

.box_astronaut{
    position: absolute;
    z-index: 300;
    top: 60%;
    right: 20%;
    animation-name: astronaut-movement;
    animation-duration: 45s;
    animation-iteration-count: infinite;
  
  
}

.msg404{
    position: relative;
    z-index: 100;
    pointer-events: none;
    font-size: 150px;
    color: #5d2584;
    font-weight: 900;
    filter: drop-shadow(3px 0 0 gray) 
    drop-shadow(0 3px 0 gray)
    drop-shadow(-3px 0 0 gray) 
    drop-shadow(0 -3px 0 gray);
    margin-top: 5px;
    margin-bottom: 5px;
}

.notfound{
    position: relative;
    z-index: 100;
    pointer-events: none;
    font-size: 60px;
    color: #5d2584;
    font-weight: 500;
    filter: drop-shadow(1px 0 0 gray) 
    drop-shadow(0 1px 0 gray)
    drop-shadow(-1px 0 0 gray) 
    drop-shadow(0 -1px 0 gray);
}


@media only screen and (max-width: 600px){
    .navbar-links{
        display: none;
    }
    
    .custom-navbar{
        text-align: center;
    }
    
    .brand-logo img{
        width: 120px;
    }
    
    .box_astronaut{
        top: 70%;
    }
    
    .central-body{
        padding-bottom: 55%;
    }
}