.bg-img-home {
    background-image: url("https://destination-earth.eu/wp-content/uploads/2023/03/Destination_Earth_img-min.webp");
    background-size: cover;
  }

  nav {
    align-items: center;
    display: flex;
    border: 0;
    border-width: 0;
    background-color: rgba(0,0,0,0.3);
    margin-top: 60px;
    margin-left: 600px;
    height: 100px;
    width: 61%;
    backdrop-filter: blur(8px);
  }
  ul {
    list-style: none;    
  }
  li {
    display: inline-block;  
    position: relative;
    padding: 42px 20px;
    overflow: hidden;
  }
  nav a {
    color: white;
    text-decoration: none;
    column-gap: 30px;
    font-family: 'Assistant', sans-serif;
  }
  li::after {
    background-color: white;
    content: "";
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0;
    transition: width 0.35s ease 0s;
    position: absolute;
  }
  li:hover::after {
    width: 100%;
  }
  .travel-txt {
    margin-top: 130px;
    margin-left: 100px;
    font-family: 'Arya';
    color: #b3b7cf;
    font-size: 30px;
  }
  .space-txt {
    margin-top: -250px;
    margin-left: 100px;
    font-family: 'Sumana', sans-serif;
    color: #fff;
    font-size: 120px;
  }
  .resume-txt {
    margin-top: -200px;
    margin-left: 90px;
    color: #b3b7cf;
    font-size: 20px;
  }
  .card {
    background-color: rgba(0,0,0,0.3);
    border-radius: 100%;
    width: 200px;
    height: 200px;
    color: white;
    position: relative;
    left: 64em;
    margin-top: 400px;
    margin-left: -300px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  section .card p {
    font-family: 'Assistant', sans-serif;
    font-size: 30px;
  }
  .container {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: -10px;
    margin-top: -160px;
    height: 750px;
    background-color: black;
  }
  .items {
    background-color: rgba(0,0,0,1);
    width: 200px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
  }
  .items-txt {
    color:white;
    font-family: 'Assistant', sans-serif; 
    text-decoration: none;
  }
  .display-txt {
    color:white;
    font-family: 'Assistant', sans-serif; 
    text-decoration: none;
    width: 300px;
  }
  section {
    position: fixed;
  }
  .crew-style {
    margin-left: 1000px;
    font-size: 20px;
    font-style: bold;
  }
  .im-pos {
    position: fixed;
    margin-left:500px;
    margin-top: 140px;
    width: 400px;
  }
  .im-pos-tech {
    position: fixed;
    margin-left: 500px;
    margin-top: 50px;
    width: 400px;
  }